
@mixin flex($ai, $jc, $gp) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    gap: $gp;
}

@mixin Roboto($fs, $fw, $lh) {
    font-family: $font;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    }